<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290727186886-n6bv9gj7ht2iqq9u7a3s7grme8aksrq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290727186886-n6bv9gj7ht2iqq9u7a3s7grme8aksrq0</string>
	<key>API_KEY</key>
	<string>AIzaSyDurVSS31bfjmPh_5sXcGg9IuOzU5TIRZk</string>
	<key>GCM_SENDER_ID</key>
	<string>290727186886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heeraanil.IdeaApp</string>
	<key>PROJECT_ID</key>
	<string>cuseexc</string>
	<key>STORAGE_BUCKET</key>
	<string>cuseexc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:290727186886:ios:8b2b305c166a06ab</string>
	<key>DATABASE_URL</key>
	<string>https://cuseexc.firebaseio.com</string>
</dict>
</plist>